<ion-header class="chatheader">
  <ion-toolbar class="Top">
      <ion-item >
          <ion-avatar  slot="start">
          <ion-img [src]="loadedContact.ImageUrl"></ion-img>
          </ion-avatar>
              <ion-text> {{loadedContact.FirstName }} {{ loadedContact.LastName}} <span  class="indicator online"></span> </ion-text>
              <label class="typing">typing...</label>
              <ion-menu-button slot="end">
                  <ion-icon class="topiconright" slot="end" name="menu" ></ion-icon>
              </ion-menu-button>
             
            
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

</ion-content>

<ion-footer class="bottom">
  <ion-toolbar class="tlbottom">
    <ion-icon class="mic" slot="start" name="mic"></ion-icon>

    <ion-icon class="addicon" slot="start"  name="add"></ion-icon>
    <ion-input  placeholder="Write..."></ion-input>

    <ion-icon class="send" slot="end" name="send"></ion-icon>
  </ion-toolbar>
</ion-footer>