ion-toolbar.Top {
    background-color:  rgb(37, 48, 74);
}

ion-toolbar.Top {
    height: 85px;
    margin-bottom: -4px;
    --background:url('../../../assets/Header.svg') 0 0/100% 104% no-repeat;
    background: #25304a;

}

ion-content.body{
    --ion-background-color: rgb(39, 50, 77);
}
ion-item {
    padding-top: 24px;
    --ion-background-color: rgb(39, 50, 77);
    margin-top: -5px;
    margin-bottom: -10px;
}

ion-icon.topiconright{
    color: #00fdfd;
}

ion-text {
    margin-top: -25px;
    margin-left: 5px;
    font-size: 20px;
    color: ghostwhite;
}

ion-img{
    margin-top: -20px;
    height: 50px;
    width: 50px;
}

ion-avatar {
    margin-top: 20px;
}

label.typing{
    color: #00fdfd;
    font-family: inherit;
    position: absolute;
    margin-top: 12px;
    margin-left: 5px;
    
}
span.indicator.online{
    margin-left: 0px;
    margin-top: -26px;
}
.indicator.online {
    background: #10dc60;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-animation: pulse-animation 2s infinite linear;
}


@-webkit-keyframes pulse-animation {
	0% { -webkit-transform: scale(1); }
	25% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2) }
    75% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}