<ion-header>
  <ion-toolbar class="Top">
    <ion-title text-center class="Top">Add New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="body">
    <img class="img" src="../../assets/contactadd.svg" />
    <form #f="ngForm" (ngSubmit)="SearchContact(f.value)"> 
      <ion-searchbar type="text" debounce="1000" ngModel #search="ngModel" name="search" placholder="Add Contact Email" (ionChange)="SearchContact(f.value)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item.email }}<ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    <ion-button (click)="AddRequest()">Send Request</ion-button>
  </form>
  </ion-toolbar>  
</ion-content>
