<ion-tabs class="tabs">

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="contacts">
      <ion-icon name="contacts"></ion-icon>
      <ion-badge color="danger"  *ngIf="crequest"> {{friendReqCount}}</ion-badge>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dialogues">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="mdialogue">1</ion-badge>
      <ion-label>Dialogues</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
