<ion-header no-border translucent="true" >
  <ion-toolbar no-background class="Top">     
    <ion-title text-center><h1> Friend Requests </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-item *ngIf="request" color="primary">
  <ion-label [routerLink]="['/tabs/contacts/new/']"> New Request</ion-label>
</ion-item>

<ion-content class="background">
  <ion-list class="list">
    <ion-item    class="itemlist"  ion-item detail-none *ngFor="let contact of contacts"
              [routerLink]="['./', contact.Id] " >
      <ion-avatar class="contactpics" slot="start">
        <ion-img [src]="contact.ImageUrl"></ion-img>
      </ion-avatar>
      <ion-label class="mylabel">
       
        <ion-label class="online"><span class="indicator online"></span>
          Online</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

 