<ion-header no-border translucent="true" >
  <ion-toolbar no-background class="Top">     
    <ion-title text-center><h1> Friend Requests </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-list class="list">
    <ion-item    class="itemlist"  ion-item detail-none *ngFor="let item of friendrequesters" >
      <ion-avatar class="contactpics" slot="start">
        <ion-img [src]="item.Requester.ImageUrl || defaultImg "></ion-img>
      </ion-avatar>
      <ion-label class="mylabel" >
        {{ item.Requester.Email }}  
        <ion-label>
          <ion-button (click)="AcceptContact(item);" color="success">Accept</ion-button>
          <ion-button  color="danger">Decline</ion-button>
        </ion-label>
      </ion-label>
     
    </ion-item>
  </ion-list>
</ion-content>

 