ion-title{
    margin-top:30px;
    color: ghostwhite;
}
ion-toolbar.Top{
    height: 83px;
    margin-bottom: -4px;
    --background:rgb(21, 24, 33);
    background: rgb(21, 24, 33);
    background-color:  rgb(21, 24, 33);
    border-bottom: rgb(29, 169, 251) solid 1px;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md{
    color: ghostwhite;
}

ion-item{
    --ion-background-color: rgb(21, 24, 33);
    
}
ion-list{
    color: ghostwhite;
    --ion-background-color: rgb(21, 24, 33);
}
ion-icon{
    color: ghostwhite;
}

ion-content{
    --background:  rgb(21, 24, 33);
}
