<ion-header>
  <ion-toolbar class="Top">
    <ion-title text-center>
     BaZzar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list  lines="none">
        <ion-item> 
            <ion-icon name="options" lines="none" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-item>
      <ion-item>
          <ion-icon name="person" lines="none" slot="start"></ion-icon>
          <ion-label>{{ appUser.displayName }}</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/tabs/contacts/new']" >
          <ion-icon name="person-add" lines="none" slot="start"></ion-icon>
          <ion-label>Add Contact</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="share" lines="none" slot="start"></ion-icon>
          <ion-label>Invite Friends</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="photos" lines="none" slot="start"></ion-icon>
          <ion-label>Galery</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="videocam" lines="none" slot="start"></ion-icon>
          <ion-label>Video Call</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="call" lines="none" slot="start"></ion-icon>
          <ion-label>Call</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="help-circle-outline" lines="none" slot="start"></ion-icon>
          <ion-label>About Us</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="exit" lines="none" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
